@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model TaskModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["Title"]</h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["Name"]</label>
                                    <input id="TaskName" type="text" for="Name" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["Executors"]</label>
                                    <input id="TaskExecutors" type="text" for="Executors" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["ExecutionTime"]</label>
                                    <input id="TaskExecutionTime" type="text" for="ExecutionTime" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["CompletionDate"]</label>
                                    <input id="TaskCompletionDate" type="text" for="CompletionDate" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["Status"]</label>
                                    <select id="TaskStateId" class="form-control" for="StateId">
                                        <option value="1">@Localizer["Assigned"]</option>
                                        <option value="2">@Localizer["InProgress"]</option>
                                        <option value="3">@Localizer["Paused"]</option>
                                        <option value="4">@Localizer["Finished"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["Intensity"]</label>
                                    <input id="TaskPlannedIntensity" type="text" for="PlannedIntensity" class="form-control">
                                </div>
                            </div>
                            <div class="mb-3 mh-100">
                                <div class="form-group">
                                    <label class="col-form-label">@Localizer["Description"]</label>
                                    <textarea id="TaskDescription" for="Description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["CancelBtnTitle"]</button>
            <button id="addTaskButton" type="button" class="btn btn-primary" onclick="addTask(@Model.Id)">
                @Localizer["SubmitBtnTitle"]
            </button>
        </div>
    </div>
</div>