@model TaskModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Редактирование задачи</h5>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Название:</label>
                                    <input id="EditName" type="text" for="Name" class="form-control" value="@Model.Name">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Список исполнителей:</label>
                                    <input id="EditExecutors" type="text" for="Executors" class="form-control" value="@Model.Executors">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Время выполнения:</label>
                                    <input id="EditExecutionTime" type="text" for="ExecutionTime" class="form-control" value="@Model.ExecutionTime">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Дата завершения:</label>
                                    <input id="EditCompletionDate" type="text" for="CompletionDate" class="form-control" value="@Model.CompletionDate">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Статус:</label>
                                    <select id="EditStateId" class="form-control" for="StateId">
                                        <option value="1">Назначена</option>
                                        <option value="2">Приостановлена</option>
                                        <option value="3">Выполняется</option>
                                        <option value="4">Завершена</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="col-form-label">Плановая трудоемкость:</label>
                                    <input id="EditPlannedIntensity" type="text" for="PlannedIntensity" class="form-control" value="@Model.PlannedIntensity">
                                </div>
                            </div>
                            <div class="mb-3 mh-100">
                                <div class="form-group">
                                    <label class="col-form-label">Описание:</label>
                                    <textarea id="EditDescription" for="Description" class="form-control">
@Model.Description
</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button id="editButton" type="button" class="btn btn-primary" onclick="editTask(@Model.Id, @Model.ParentTaskId)">Сохранить изменения</button>
        </div>
    </div>
</div>