@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model List<TaskModel>

<div class="row">
    <div class="col-lg-8">
        <div class="common-info">
            <h2>@Localizer["CommonInfoTitle1"]</h2>
            <div class="common-info__info">
                @Localizer["CommonInfoTasksAmount"] @Model.Count <br>
                @{
                    var commonExecutionTime = new TimeSpan();

                    commonExecutionTime = Model.Aggregate(commonExecutionTime, (current, taskModel) => current + taskModel.ExecutionTime);

                    <div>@Localizer["CommonInfoSumExecutionTime"] @commonExecutionTime.Days @Localizer["Day"] @commonExecutionTime.Hours @Localizer["Hour"] @commonExecutionTime.Minutes @Localizer["Minutes"]</div>
                }

                @Localizer["CommonInfoSumIntensity"] @Model.Sum(task => task.PlannedIntensity) @Localizer["Intensity"]
            </div>
            <h2>@Localizer["CommonInfoTitle2"]</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Th1"]</th>
                    <th scope="col">@Localizer["Th2"]</th>
                    <th scope="col">@Localizer["Th3"]</th>
                    <th scope="col">@Localizer["Th4"]</th>
                    <th scope="col">@Localizer["Th5"]</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var task in Model)
            {
                <tr>
                    <th scope="row">@task.Id</th>
                    <td>@task.Name</td>

                    @switch (task.StateId)
                    {
                        case 1:
                            <td>@Localizer["StatusTd1"]</td>
                            break;
                        case 2:
                            <td>@Localizer["StatusTd2"]</td>
                            break;
                        case 3:
                            <td>@Localizer["StatusTd3"]</td>
                            break;
                        case 4:
                            <td>@Localizer["StatusTd4"]</td>
                            break;
                    }

                    <td>@task.ExecutionTime.Days @Localizer["Day"] @task.ExecutionTime.Hours @Localizer["Hour"] @task.ExecutionTime.Minutes @Localizer["Minutes"]</td>
                    <td>@task.PlannedIntensity @Localizer["Intensity"]</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
