@using Microsoft.AspNetCore.Html
@model TaskModel

<div clas="row">
    <div class="common-info d-flex">
        <div class="col-lg-7">
            <h2>Общая информация</h2>
            <div class="common-info__info">
                Название задачи: @Model.Name<br>
                Статус: @*@Model.State.Status*@<br>
                Исполнители: @Model.Executors<br>
                Плановая трудоемкость: @Model.PlannedIntensity<br>
                @*Время выполнения: @Model.ExecutionTime.Days + @Model.Subtasks.Sum(subtask => subtask.ExecutionTime.Days) дн.
            @Model.ExecutionTime.Hours + @Model.Subtasks.Sum(subtask => subtask.ExecutionTime.Hours) час.<br>*@
                Дата регистрации в системе: @Model.RegistrationDate.ToShortDateString()<br>
                Дата завершения: @Model.CompletionDate.ToShortDateString()<br>
                Описание задачи: @Model.Description<br>
            </div>
        </div>
        <div class="col-lg-5">
            <button id="editTaskButton" class="btn btn-outline-primary m-2 float-right" data-toggle="modal" data-target="#editTaskModal">Редактировать</button>
            <div id="editTaskModal" class="modal fade">
                @await Html.PartialAsync("_EditTaskModal", Model)
            </div>
            <button id="deleteTaskButton" class="btn btn-primary m-2 float-right" onclick="deleteTask(@Model.Id)">Удалить</button>
        </div>
    </div>
</div>
<div clas="row">
    <div class="common-info d-flex">
        <div class="col-lg-7">
            <h2>Список подзадач</h2>
        </div>
        <div class="col-lg-5">
            <button class="btn btn-primary m-2 float-right" data-toggle="modal" data-target="#addTaskModal" data-whatever="Добавление подзадачи">Добавить подзадачу</button>
            <div id="addSubtaskModal" class="modal fade">
                @await Html.PartialAsync("_AddTaskModal", new TaskModel { ParentTaskId = Model.Id })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Время выполнения</th>
                    <th scope="col">Трудозатраты</th>
                </tr>
            </thead>
            <tbody>

            @if (Model.Subtasks != null)
            {
                @foreach (var subtask in Model.Subtasks)
                {
                    <tr>
                        <th scope="row">@subtask.Id</th>
                        <td>@subtask.Name</td>

                        @switch (subtask.State.Id)
                        {
                            case 1:
                                <td>Назначена</td>
                                break;
                            case 2:
                                <td>В процессе</td>
                                break;
                            case 3:
                                <td>Приостановлена</td>
                                break;
                            case 4:
                                <td>Завершена</td>
                                break;
                        }

                        <td>@subtask.ExecutionTime.Days дн. @subtask.ExecutionTime.Hours час. @subtask.ExecutionTime.Minutes мин.</td>
                        <td>@subtask.PlannedIntensity чел./час</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>