@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model TaskModel

<div clas="row">
    <div class="common-info d-flex">
        <div class="col-lg-8">
            <h2>@Localizer["CommonInfoTitle1"]</h2>
            <div class="common-info__info">
                @Localizer["CommonInfoName"] @Model.Name<br>
                @Localizer["CommonInfoStatus"]
                @{
                    @switch (Model.StateId)
                    {
                        case 1:
                            <td>@Localizer["StatusTd1"]</td>
                            break;
                        case 2:
                            <td>@Localizer["StatusTd2"]</td>
                            break;
                        case 3:
                            <td>@Localizer["StatusTd3"]</td>
                            break;
                        case 4:
                            <td>@Localizer["StatusTd4"]</td>
                            break;
                    }
                }
                <br/>
                @Localizer["CommonInfoExecutors"] @Model.Executors<br>
                @Localizer["CommonInfoIntensity"] @Model.Subtasks.Aggregate(Model.PlannedIntensity, (current, subtask) => current + subtask.PlannedIntensity)<br>
                @Localizer["CommonInfoExecutionTime"]
                @{
                    var commonExecutionTime = Model.Subtasks.Aggregate(Model.ExecutionTime, (current, subtask) => current + subtask.ExecutionTime);

                    <div>@commonExecutionTime.Days @Localizer["Day"] @commonExecutionTime.Hours @Localizer["Hour"] @commonExecutionTime.Minutes @Localizer["Minutes"]</div>
                }
                @Localizer["CommonInfoRegDate"] @Model.RegistrationDate.ToShortDateString()<br>
                @Localizer["CommonInfoComplDate"] @Model.CompletionDate.ToShortDateString()<br>
                @Localizer["CommonInfoDescription"] @Model.Description<br>
            </div>
        </div>
        <div class="col-lg-4">
            <button id="editTaskButton" class="btn btn-outline-primary m-2 float-right" data-toggle="modal" data-target="#editTaskModal">@Localizer["EditBtnTitle"]</button>
            <div id="editTaskModal" class="modal fade">
                @await Html.PartialAsync("_EditTaskModal", Model)
            </div>
            <button id="deleteTaskButton" class="btn btn-primary m-2 float-right" onclick="deleteTask(@Model.Id)">@Localizer["DeleteBtnTitle"]</button>
        </div>
    </div>
</div>
<div clas="row">
    <div class="common-info d-flex">
        <div class="col-lg-8">
            <h2>@Localizer["CommonInfoTitle2"]</h2>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary m-2 float-right" data-toggle="modal" data-target="#addSubtaskModal" data-whatever="@Localizer["AddSubtaskBtnData"]">@Localizer["AddSubtaskBtnTitle"]</button>
            <div id="addSubtaskModal" class="modal fade">
                @await Html.PartialAsync("_AddSubtaskModal", Model)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table w-auto">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Th1"]</th>
                    <th scope="col">@Localizer["Th2"]</th>
                    <th scope="col">@Localizer["Th3"]</th>
                    <th scope="col">@Localizer["Th4"]</th>
                    <th scope="col">@Localizer["Th5"]</th>
                </tr>
            </thead>
            <tbody>

            @if (Model.Subtasks != null)
            {
                @foreach (var subtask in Model.Subtasks)
                {
                    <tr>
                        <th scope="row">@subtask.Id</th>
                        <td>@subtask.Name</td>

                        @switch (subtask.StateId)
                        {
                            case 1:
                                <td>@Localizer["StatusTd1"]</td>
                                break;
                            case 2:
                                <td>@Localizer["StatusTd2"]</td>
                                break;
                            case 3:
                                <td>@Localizer["StatusTd3"]</td>
                                break;
                            case 4:
                                <td>@Localizer["StatusTd4"]</td>
                                break;
                        }

                    <td>@subtask.ExecutionTime.Days @Localizer["Day"] @subtask.ExecutionTime.Hours @Localizer["Hour"] @subtask.ExecutionTime.Minutes @Localizer["Minutes"]</td>
                    <td>@subtask.PlannedIntensity @Localizer["Intensity"]</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>